<div id='content'></div>


<div class="col-md-12">
  <div class="form-horizontal submit-form">
	<div class="row">
		<div class="col-lg-6">
			<h2>[ <%-hinfo.hname%> ]</h2>
		</div>
		<div class="col-lg-6" style="margin-bottom : 0%">
      <a class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm"><i class="fas fa-sm text-white-50">제출 기한 : <%-hinfo.deadline%></i></a>
    </div>
	</div>
    <div class="form-group">
      <div class="row" style="margin-top: 3%">
        <div class="col-lg-5">
          <label class="control-label" for="language">Language</label>
          <select name="language" id="langauge">
            <option value="c">C</option>
            <option value="cpp">C++</option>
            <option value="java">Java</option>
          </select>
          <div class="custom-control custom-checkbox medium" style="float: right">
            <input type="checkbox" class="custom-control-input" id="scroll" checked="true">
            <label class="custom-control-label" for="scroll">Auto-Scroll</label>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 2%">
        <div class="col-lg-5">
            <h4><label class="control-label text-primary" for="source">Code Editor</label></h4>
            <div><textarea id="source"></textarea></div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-5">
            <h4><label class="control-label text-warning" for="fixed">Recommended Style</label></h4>
            <div><textarea id="fixed"></textarea></div>
        </div>
      </div>
      <div class="form-group" style="margin-top: 3%">
        <button class="btn btn-primary" id="sendcode">제출</button>
      </div>
  </div>
  </div>
</div>

<form action="/EvaluateCode" method="POST" id="evaluatecode" style="display : none">
  <input type="text" name="code" id="ecode">
  <input type="text" name="language" id="lang">
</form>
<form action="/AddScore" method="POST" id="addscore" style="display : none">
  <input type="number" name="score" id="score">
</form>
<form action="/Convert" method="POST" id="convert" style="display : none">
  <textarea name="code" id="code"></textarea>
</form>

<script type="text/Javascript">

  var autoscroll = true;

  let defaultCode = [ `#include <stdio.h>&#10;&#10;int main() {&#10;&#09;printf("Hello World!");&#10;&#09;return 0;&#10;}`,
    `#include <iostream>&#10;&#10;using namespace std;&#10;&#10;int main() {&#10;&#09;cout << "Hello World!" << endl;&#10;&#09;return 0;&#10;}`,
    `public class Test {&#10;&#09;public static void main(String[] args) {&#10;&#09;&#09;System.out.println("Hello World!");&#10;&#09;}&#10;}`
  ];

  function setMode(mode) {
    editor = CodeMirror.fromTextArea(document.getElementById("source"), {
      indentUnit: 4,
      styleActiveLine: true,
      indentWithTabs: true,
      lineNumbers: true,
      matchBrackets: true,
      mode: mode
    });
    editor.setSize('100%', 300);

    fixed = CodeMirror.fromTextArea(document.getElementById("fixed"), {
      lineNumbers: true,
      matchBrackets: true,
      styleSelectedText: true,
      readOnly: 'nocursor',
      mode: mode
    });
    fixed.setSize('100%', 300);
    editor.on("change", function() {
      recommend();
    })
    editor.on("scroll", function() {
      if ( autoscroll ) {
        const info = editor.getScrollInfo();
        fixed.scrollTo(info.left, info.top);
      }
    })
  }

  function changeLanguage(e) {
    var value = $(e).val();
    
      jQuery('.CodeMirror.cm-s-default').remove();
      if (value == 'c') {
        jQuery("#source").html(defaultCode[0]);
        setMode("text/x-csrc");
      }
      else if (value == 'cpp') {
        jQuery("#source").html(defaultCode[1]);
        setMode("text/x-c++src");
      }
      else if (value == 'java') {
        jQuery("#source").html(`${defaultCode[2]}`);
        setMode("text/x-java");
      }
      recommend();
  }

  $("document").ready(function() {
    $('select[name="language"]').each(function () {
      changeLanguage(this);
    });
  })

  $('select[name="language"]').change(function () {
    $('select[name="language"]').each(function () {
      changeLanguage(this);
    });
  });

  $(function () {
    var failMessage = function () {
      return alert("붙여넣기 기능은 사용하실 수 없습니다."), false;
    },
      preventEvent = {
        "keydown": function (e) {
          var keycode = function (e) {
            return ('which' in e ? e.which : e.keyCode)
          }(e),
            ctrl_cv = (e.ctrlKey && (keycode == 118 || keycode == 86)),
            shift_insert = (e.shiftKey && keycode == 45);
          if (ctrl_cv || shift_insert) {
            return failMessage();
          }
        }
        , "mousedown": function (e) {
          var rightClick = (e.button == 2);
          if (rightClick) {
            return failMessage();
          }
        }
        , "contextmenu": function (e) {
          return failMessage();
        }
      };
    $(document).bind(preventEvent);
  }());

  function markline(data, view) {
    if (data.length == 1) {
      view.addLineClass(data[0]-1, "background", "fixed-line");
    } else {
      for ( let i = data[0]; i <= data[1]; i++ ) {
        view.addLineClass(i-1, "background", "fixed-line");
      }
    }
  }

  function recommend() {
    const code = editor.getValue();
    $.ajax({
      type: 'POST',
      url: '/Convert',
      data: {code:`${code}`, language:`${$('select[name="language"]').val()}`},
      success: function(data) {
        if(data != null) {
          for ( let i = 0; i < editor.lineCount(); i++ )
            editor.removeLineClass(i, "background", "fixed-line");
          fixed.setValue(data.result);
          const diff = data.diff.split("\n").filter( e => {
            if ( !isNaN(e[0]) )
              return true;
            return false;
          } );
          diff.forEach( e => {
            const pattern = /[abcd\>\<]/;
            const orig = e.split(pattern)[0].split(",");
            const fix = e.split(pattern)[1].split(",");
            markline(orig, editor);
            markline(fix, fixed);
          } )
          if ( autoscroll ) {
            const info = editor.getScrollInfo();
            fixed.scrollTo(info.left, info.top);
          }
        }
      }
     });
  }

  $("#sendcode").click(function() {
    const code = editor.getValue();
    const lang = $('select[name="language"]').val();
    $("#ecode").val(code);
    $("#lang").val(lang);
    $("#evaluatecode").submit();
  });

  $("#scroll").change(
    function() {
      if ($("#scroll").is(":checked")) {
        autoscroll = true;
      } else {
        autoscroll = false;
      }
    }
  )
</script>
