<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>PNU CCM</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">
        <% include Frame %>
        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800" id="cname"></h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-sm text-white-50" id="pname"></i></a>
          </div>
          <!-- Project Card Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">과제 현황</h6>
            </div>
            <div class="card-body" id="homework_list">
            </div>
          </div>
          <a href="/AddHomeworkPage" class="btn btn-secondary btn-icon-split">
            <span class="icon text-white-50">
              <i class="fas fa-arrow-right"></i>
            </span>
            <span class="text">과제 추가</span>
          </a>
        </div>
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">정말 로그아웃하시겠습니까?</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
          <a class="btn btn-primary" href="/Logout">로그아웃</a>
        </div>
      </div>
    </div>
  </div>

  <form action="/HomeworkPage" method="GET" id="homework_page" style="display: none">
    <input type="text" name="hid" id="hid"/> 
  </form>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/chart.js/Chart.min.js"></script>
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/chart-area-demo.js"></script>
  <script src="js/demo/chart-pie-demo.js"></script>
  <script src="js/demo/datatables-demo.js"></script>

  <script type="text/Javascript">
    const cinfo = <%-JSON.stringify(cinfo) %>
    $("#cname").text(`${cinfo.name} (${cinfo.class})`);
    $("#pname").text(`Prof. ${cinfo.professor}`);
    let search = <%-JSON.stringify(search) %>
    $(function() {
      $("#search_input").autocomplete({
        source: search,
        select: function(evenet, ui) {
          console.log(ui.item);
        },
        focus: function(event, ui) {
          return false;
        }
      })
    })

    $("#search_btn").click(function() {
      const key = document.getElementById("search_input").value;
      $("#key").val(key);
      $("#search_course").submit();
    })

    function homeworkpage(hid) {
      $("#hid").val(hid);
      $("#homework_page").submit();
    }

    const attendant = <%-JSON.stringify(attendant) %>

    function addhomework(e, index) {
        const color = [ "bg-danger", "bg-warning", "bg-primary", "bg-info", "bg-success" ];
        const percent = (e.count / attendant) * 100;
        $("#homework_list").append(`<div onclick="homeworkpage(${e.hid});"><h4 class="small font-weight-bold">[HW #${index+1}] ${e.hname}<span class="float-right">제출 기한 : ${e.deadline}</span></h4>
        <div class="progress mb-4" style="margin-bottom: 0px">
            <div class="progress-bar ${color[Math.floor(percent/25)]}" role="progressbar" style="width: ${percent}%" aria-valuenow="${e.count}" aria-valuemin="0" aria-valuemax="${attendant}">${percent == 100 ? "Complete" : e.count}</div>
        </div></div>`);
    }

    const hlist = <%-JSON.stringify(hlist) %>

    hlist.forEach( (e, index) => addhomework(e, index));

  </script>

</body>

</html>
